

  .container{

    display: flex;
    background-color: grey;
    justify-content: flex-start;
    padding: 8px;
    margin: 8px;
    border-style: dotted;
    flex-wrap:wrap;
    position: absolute;
    width: 1303px;
    flex: fit-content;
  }
  div{
    display: flex;
    justify-content: flex-start;
    border: 1px red;

  }
  .container1 {
    border-style: dotted;
    background-color: white;
    flex-basis: 560px;
    flex: 2 1 auto
     }


 .container2{
   flex-direction: column;
  border-style: dotted;
  background-color: blue;

  flex-basis: 80%;
  flex: 1 1 auto

 }


  .container3{
    height :250px;
  border-style: dotted;
  background-color: grey;

  flex-basis: 80%;
  flex: 1 2 auto
  }
img{
  width : 20px;
  padding: .4rem;
  flex: 1 1 auto;

  object-fit: cover

}






/* css grid */
  /* .container{
    align-content: center ;
   height: 100%;
    max-height: 541px;
    width: 100%;
    max-width: 1603px;
    flex-wrap: center;
    display: grid;
    grid-template-columns:  35% 17% 17% ;
    grid-template-rows: 47.5% 47.5%;
    place-content: center;
    background-color: aqua;

    position: relative;
  }


 .container >div{
  background-color: coral;
  font-size: 30px;
  height: 100%;
  width: 100%;
  margin-top:  5%;
  margin-left: 2%;
  -ms-grid-column-align: center;



 }

 .container1 {

    height: 100%;
    width: 100%;
    margin-top: 2%;
    grid-area: 1/1/3/2;
   background-color:fill lightgreen;
   margin: 2px;
 */

/*
 <!DOCTYPE html>
 <html>
 <head>
 <style>
 .flex-container {
   display: flex;
   background-color: grey;
   justify-content: center;
   align-items: center;
   max-hight: 520px;
   max-width: 1120px;
   hight: auto;
   width: 100%;
 }

 .flex-item1 {
   background-color: white;
   width: 50vh;
   margin: 10px;
   text-align: center;
   line-height: 50vh;
   font-size: 50px;
 }
 .flex-item2 {
   background-color: blue;
   width: 50vh;
   height: 50vh;
   margin: 10px;
   text-align: center;

 }
 .flex-item3 {
   background-color: grey;
   width: 25vhpx;
   margin: 5px;
   height: 25vh;
   text-align: center;
   line-height: 100px;
   font-size: 50px;
 </style>

 </head>
 <body>

 <div class="flex-container">
   <div class="flex-item1">Box 1</div>
   <div class="flex-item2">
     <div class="flex-item3">Box a</div>
     <div class="flex-item3">Box b</div>
   </div>
     <div class="flex-item2">
     <div class="flex-item3">Box a</div>
     <div class="flex-item3">Box b</div>
   </div>
 </div>

 </body>
 </html> */