
.container div{

  display: flex;
  /* background-color: grey; */
  justify-content: flex-start;
  width: 1303px;
  min-width: 0px;
  position: relative;

   overflow: visible;
}

/*
 div{
  /* position: relative; */
    /* display: flex;
    overflow: hidden; */


.container1 {
  overflow: visible;
  display: flex;
  position: relative;
  flex: 2 1 ;

   }


.container2{

  display: flex;
 position: relative;
flex-direction: column;
flex: 1 2
}


.container3{
  overflow: visible;
  display: flex;
  position: relative;
  flex: 1 2
}


img{
width : 25px;
margin: 4px;
height: auto;
flex: 1 2 auto;
object-fit: cover;
cursor: pointer;

}




